<div class="pull-right">
  <%= link_to("增加赛程", new_admin_game_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-bordered">
  <thead>
    <tr>
    <th>时间</th>
    <th>联赛</th>
    <th>球队</th>
    <th>信号</th>
    <th>管理</th>
  </tr>

  </thead>

  <tbody>
  <% @games.each do |game| %>
  <tr>
    <td>
      <%= game.time %>
    </td>
    <td>
      <%= game.league %>
    </td>
    <td>
      <%= game.description %>
    </td>
    <td>
    <%= game.signal %>
    </td>
    <td>
      <%= link_to("编辑", edit_admin_game_path(game)) %>
      <%= link_to("删除", game_path(game), :method => :delete, :data => { :confirm => "Are you sure?"}) %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
