<div class="pull-right">
  <%= link_to("增加赛程", new_game_path, :class => "btn btn-default" ) %>
</div>
<table class="table table-bordered">
  <% @games.each do |game| %>
  <tr>
    <td>
      <%= game.time %>
    </td>
    <td>
      <%= game.league %>
    </td>
    <td>
    <%= game.signal %>
    </td>
    <td>
      <%= link_to("编辑", edit_game_path(game)) %>
      <%= link_to("删除", game_path(game), :method => :delete, :data => { :confirm => "Are you sure?"}) %>
    </td>
  </tr>
  <% end %>
</table>
