<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ball Game </a>

        </div>
        <a class="btn btn-default" href=https://en.wikipedia.org/wiki/Basketball>
        <i class="fas fa-basketball-ball "></i>篮球
      </a>

        <a class="btn btn-default" href=https://en.wikipedia.org/wiki/Association_football>
        <i class="fas fa-futbol"></i>足球
        </a>
        <a class="btn btn-default" href=https://en.wikipedia.org/wiki/Association_football>
        <i class="far fa-baseball-ball"></i>棒球
        </a>
        <a class="btn btn-default" href=https://en.wikipedia.org/wiki/Ten-pin_bowling>
        <i class="fas fa-bowling-pins"></i>保龄球
        </a>
        <a class="btn btn-default" href=https://zh.wikipedia.org/wiki/%E6%8E%92%E7%90%83>
        <i class="far fa-volleyball-ball"></i>排球
      </a>

        <a class="btn btn-default" href=https://zh.wikipedia.org/wiki/%E6%A3%92%E7%90%83>
        <i class="fas fa-baseball"></i>棒球
      </a>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                 <% if !current_user %>
                   <li><%= link_to("注册", new_user_registration_path) %> </li>
                   <li><%= link_to("登入", new_user_session_path) %></li>
                 <% else %>
                   <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         Hi!, <%= current_user.email %>
                         <b class="caret"></b>
                     </a>
                     <ul class="dropdown-menu">
                       <% if current_user.admin? %>
                       <li> <%= link_to("Admin Panel", admin_games_path) %> </li>
                       <% end %>
                       <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                     </ul>
                   </li>
                 <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
